

body {
    background-image:url('/extension/jeppedesign/design/jeppedesign/images/background.png');
   /* background:  repeat scroll 0 0 #f1ece0;*/
   /* color: #FFFFFF; */
    font: 14px/20px georgia,times,"Times New Roman",serif;
    text-align: center;
    color: #6E6E6E;
    height: 100%;
    margin: 0;
   /* overflow: visible;*/
    padding: 0;
    width: 100%;
}
#display {
    width:1500px;
}
#left_content {
    float: left;
    width:420px;
}
#left_content img {
    margin-top:100px;
    margin-left:-100px;
}
#allcontent {
    margin: 0 auto;
    text-align: left;
    width: 660px;
    float: left;
}
#right_content{
    float: left;
}
#right_content img {
    margin-top:100px;
}
#top_logo_img {
	height: 130px;
	float: left;
} 
div#menu {
    margin-top: 20px;
}
div#menu ul li {
    list-style: none;
    float: left;
    margin-left:20px;
}
#topmenu  {
	float: right;
}
#topmenu-design {
	float: right;
}
#topmenu-design ul {
	display: inline;
    float: right;
    height: 101px;
    margin: 0 0 0 23px;
    width: 617px;
	list-style: none outside none;
}
#topmenu-design li {
	float: left;
	text-transform: uppercase;
	margin-left: 20px;
}
#topmenu-design li a {
	text-decoration: none;
	color: #583225;
}
#topmenu-design li a:hover, .selected {
	color: #75655a;
	border-bottom:1px solid black;
}

.frontpage_maincontent {
	float: left;
}
.frontpage_rightcontent {
	width: 27%;
	float: right;
	padding-left: 10px;
}

#footer {
	clear: both;
	float: left;
        margin-left: 300px;
        margin-top: 50px;
}
.hide {
	display: none;
}

.article .frontpage_maincontent {
	width: 90%;
}
#footer img {
    float:left;
}
#img_facebook {
    float: right !important;
    margin-left: 200px;
    margin-top: 50px;
}

